*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* shared style */
.main-btn{

  padding:12.5px 40px ;  
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius:5rem ;
  background:linear-gradient(#F7E93F,#FB09B4,#9100F8) ;
    
}
.center{
    text-align: center;
}
.section-title{
  font-size: 1.5rem;  
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.section-discription{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    line-height: 1.5rem;
    
}
.duration{
 font-size: 1rem;
 font-weight: 500;
 color: #00FF88;
 margin-top: 0.8rem;   
}
iframe{
 border-top-left-radius:1rem;   
  border-top-right-radius:1rem;   
  width: 100%;
}
/* start header section */
header{
     background-color:#1A0B2E ;
     padding: 24px 0;
    border-bottom: 1px solid gray;
    


}
#navber{
  max-width: 1200px; 
  margin:0 auto ; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#1A0B2E ;

}
.nav-logo{
    color: #ffffff;

}
#gradint{
    color:#FB09B4;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 32px;

}
.link{
    list-style: none;
}
.link a{
    color:#FFFFFF;
    font-size: 1rem;              
    text-decoration: none;
    opacity: 90%;

}
#hero-section{
background-image: url("./images/hero-bg.png");
background-size: cover;
background-repeat: no-repeat;

}
#hero-section{
    padding: 101px 0;
}

.hero-contant{
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-img{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/hero-circle.png");
}

#about{
 padding-top:50px ; 
 padding-bottom: 120px;  
 background-color: #1A0B2E;
}
.about-container{
    margin: 0  auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap:160px ;
}
.about-contant{
    max-width: 1200px;
    text-align: center;

}
.about-title{
   font-size: 3rem; 
   font-weight: bold;
   color: #FFFFFF;
   margin-bottom: 1rem;
}
.about-discription ,.sub-discripation{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 80%;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.podcast{
   display: flex;
    justify-content: space-evenly;   
}
.podcast-rate{
   
    text-align: center;
}
.podcast h1,.podcast i{
color:#00FF88;
font-size:4rem ;
font-weight: bold;
}
/* start why choose section */
#features{
  padding: 120px 0;  
  background-color:#230E3D ;
}
     
.features-container{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}
.audio-features{
   max-width:300px ;

}

 .download ,.connect ,
.interviews{
background-color:rgba(53, 17, 101, 0.4) ;
 grid-column: span 2;
 border-radius: 20px;
padding:40px ; 
}

.premium-audio{
grid-row: span 2;
background-color:rgba(53, 17, 101, 0.4) ;
border-radius: 20px;
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
 justify-content: center;
}
.resources{
     background-color:rgba(53, 17, 101, 0.4) ;
     border-radius: 20px;
     padding:40px ;   
}
#episode{
    padding:120px 0 ;
    background-color:#1A0B2E;
}
.episode-container{
    max-width:1200px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:120px ;
}
.video{
    max-width:1200px ;
    display: flex;
   gap:30px ;
}

.video-card{
    max-width: 380px;
    background-color:#250D44 ;
    border-radius:1rem;
}
.video-discription{
    padding:1.5rem ;
}
.host{
    padding:20px;
    max-width: 1200px;
    display: flex;
 gap:1.5rem ;
background-color:rgba(53, 17, 101, 0.4) ;
}

.social-link{

    display: flex;
    gap: 0.5rem;
    margin-top:1rem ;
}
.social-icon{
   width: 40px; 
   height: 40px;
   border:0.5px solid #FFFFFF ;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
footer{
  padding: 120px 0; 
background-image: url("./images/footer-bg.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

}
.footer-section{
    max-width: 1360px;
    margin: 0 auto;
 justify-content: center;
 align-items: center;
   display: flex;
   flex-direction: column;
   gap: 2rem;
  
}
.sponsor{
    max-width: 544px ;
    display: flex;
    gap: 40px;
    max-width: 540px;
}














































/* media quary start */
@media screen and (max-width:576px){
 #navber  {
  flex-wrap: wrap;
  gap: 20px;
         
} 
.sponsor{
 flex-wrap: wrap;
 
}


#about ,#episode,{
 padding:40px 20px; 
}
.about-container ,.episode-container{
   gap:60px ;
}
.podcast{
    flex-wrap: wrap;
} 
.podcast h1,.podcast{

font-size:2rem ;

}  
.about-title{
   font-size: 2rem; 
  
}
.features-container{
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(1,1fr);
 gap: 15px;
}
.download ,.connect ,.premium-audio,
.interviews ,.resources{
grid-row: span 1;
grid-row: span 1;
}
.video ,.host  {         
   flex-direction:column ;
gap:30px ;
}
.host{
    flex-direction: column;
    align-items: center;
}
}