*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* shared style */
.main-btn{

  padding:12.5px 40px ;  
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius:5rem ;
  background:linear-gradient(#F7E93F,#FB09B4,#9100F8) ;
    
}
.spotify-btn{
   padding:10px 10px ;  
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius:5rem ;
  background:linear-gradient(#F7E93F,#FB09B4,#9100F8) ;
      
}
.hero-btn{
position: absolute;
top:2%;
right:20%;
background-color: #00FF88;
padding:8px 16px ;
color:#1A0B2E ;
font-size: 1rem;
border-radius:4rem ;
}
.sup-btn{
    border:1px solid #00FF88 ;
     padding:10px 10px ;  
  font-weight: 500;
  font-size: 1rem;
  color:#00FF88;
  border-radius:5rem ;
  background-color: transparent;
       
}
.center{
    text-align: center;
}
.section-title{
  font-size: 1.5rem;  
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.section-discription{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 60%;
    line-height: 1.5rem;
    
}
.duration{
 font-size: 1rem;
 font-weight: 500;
 color: #00FF88;
 margin-top: 0.8rem;   
}
iframe{
 border-top-left-radius:1rem;   
  border-top-right-radius:1rem;   
  width: 100%;
}
/* start header section */
header{
     background-color:#1A0B2E ;
     padding: 24px 0;
    border-bottom: 1px solid gray;
}
#navber{
  max-width: 1200px; 
  margin:0 auto ; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#1A0B2E ;

}
.nav-logo{
    color: #ffffff;

}
#gradint{
    color:#FB09B4;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 32px;

}
.link{
    list-style: none;
}
.link a{
    color:#FFFFFF;
    font-size: 1rem;              
    text-decoration: none;
    opacity: 90%;

}
.nav-icon{
    color:#FFFFFF ;
    display: none;
}

.hero-sectin-btn{
 display: flex;
    gap: 8px;  
}


#hero-section{
padding: 100px 0; 
background-image: url("./images/hero-bg.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

.hero-container{
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
   align-items: center;
    flex-direction: column;
   
}
.hero-contant{
    padding: 10px;
    text-align: center;
}
.circle{
    max-width: 350px;

   
  
}
.circle-img{
width: 350px;
height: 350px;
display: flex;
justify-content: center;
align-items: center;
background-image:url("./images/hero-circle.png");
background-size: cover;
}
.circle-img img{
animation: rotate 5s ease-in 2s infinite;
}
@keyframes  rotate{
    50%{transform: rotate(360deg);

    }
    50%{
transform: rotate(-360deg);
    }

}
#about{
 padding-top:50px ; 
 padding-bottom: 120px;  
 background-color: #1A0B2E;
}
.about-container{
    margin: 0  auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap:160px ;
}
.about-contant{
    max-width: 1200px;
    text-align: center;

}
.about-title{
   font-size: 3rem; 
   font-weight: bold;
   color: #FFFFFF;
   margin-bottom: 1rem;
}
.about-discription ,.sub-discripation{
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 80%;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.podcast{
   display: flex;
    justify-content: space-evenly;   
}
.podcast-rate{
   text-align: center;
}
.podcast h1,.podcast i{
color:#00FF88;
font-size:4rem ;
font-weight: bold;
}
.podcast i{
color:#00FF88;
font-size:3rem ;
font-weight: bold;
}
/* start why choose section */
#features{
  padding: 120px 0;  
  background-color:#230E3D ;
}
     
.features-container{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}


 .download ,.connect ,
.interviews{
background-color:rgba(53, 17, 101, 0.4) ;
 grid-column: span 2;
 border-radius: 20px;
padding:30px; 
}

.premium-audio{
grid-row: span 2;
background-color:rgba(53, 17, 101, 0.4) ;
border-radius: 20px;
padding:30px;
display: flex;
flex-direction: column;
justify-content: center;
}
.resources{
     background-color:rgba(53, 17, 101, 0.4) ;
     border-radius: 20px;
     padding:30px ;   
}
#episode{
    padding:120px 0 ;
    background-color:#1A0B2E;
}
.episode-container{
    max-width:1200px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:120px ;
}
.video{
    max-width:1200px ;
    display: flex;
   gap:30px ;
}

.video-card{
    max-width: 380px;
    background-color:#250D44 ;
    border-radius:1rem;
}
.video-discription{
    padding:1.5rem ;
}
.host{
    padding:20px;
    max-width: 1200px;
    display: flex;
 gap:1.5rem ;
background-color:rgba(53, 17, 101, 0.4) ;
border-radius: 1rem;
}

.social-link{

    display: flex;
    gap: 0.5rem;
    margin-top:1rem ;
}
.social-icon{
   width: 40px; 
   height: 40px;
   border:0.5px solid #FFFFFF ;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
footer{
  padding: 120px 0; 
background-image: url("./images/footer-bg.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

}
.footer-section{
max-width: 1360px;
 margin: 0 auto;
 justify-content: center;
 align-items: center;
display: flex;
flex-direction: column;
gap: 2rem;
  
}
.sponsor{
max-width:544px;
display: flex;
gap:1rem;
   
}




/* media quary start */
@media screen and (max-width:576px){
 #navber  {
  flex-wrap: wrap;
  gap: 20px;
         
} 
.nav-icon{
  margin-right: 18px;
    display:inline;
}
.main-btn{
    display: none;
}
.nav-links{
    display: none;
}
.nav-logo{
    margin-left: 18px;
}

 #hero-section,#about ,#episode ,#features{
 padding:20px 10px; 
}
.hero-container{
gap:24px;
    
}
.about-container ,.episode-container{
gap:60px ;
}
.podcast{
    flex-wrap: wrap;
} 
.podcast h1,.podcast{
font-size:2rem ;

}  
.about-title{
   font-size: 2rem; 
  
}
.features-container{
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(1,1fr);
}
.download ,.connect ,.premium-audio,
.interviews ,.resources{
grid-row: span 1;
grid-column: span 1;

} 
.video ,.host  {         
   flex-direction:column ;
column-gap:30px ;
}
.host{
align-items: center;
    
}
footer{
  padding:10px; 
}
.footer-section{
    padding: 10px;
  gap: 1rem;
  
}
.sponsor{
 flex-wrap: wrap;
 gap:1rem;
  
}
}

@media screen  and (min-width:576px) and (max-width:992px){
 header{
    padding: 24px 24px;
    
}
#hero-section,#about ,#features{
 padding:20px 20px; 
}
#episode{
   padding:20px 40px;  
}
.features-container{
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(1,1fr);
}   
.download ,.connect ,.premium-audio,
.interviews ,.resources{
grid-row: span 1;
grid-column: span 2;
    
}
.host  {         
   flex-direction:column ;
column-gap:30px ;
}
.video ,.host  {         
   flex-direction:column ;
column-gap:30px ;
align-items: center;
}
}